
$whiteColor: #fafafa;
$darkColor: #212121;
$nav_bgColor: #fafafa;
$nav_bgColor_active: #ffa000;
$activeColor: $nav_bgColor_active;

$btnDanger_bg: #c62828;
$btnDanger_color: $whiteColor;

$btnSecondary_bg: #90a4ae;
$btnSecondary_color: $whiteColor;

$btnPrimary_bg: #ffa000;
$btnPrimary_color: $whiteColor;
$grey_bg: #90a4ae;
img{
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
}
.image-item{
  height: 10rem;
  width: 10rem;
  margin: 0;
}
body{
  font-family: 'Lato' sans-serif;
  font-size: 16px;
}
.top-nav{
  background: $nav_bgColor;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 700;
  li{
    display: inline-flex;
    list-style-type: none;
    a{
      letter-spacing: 3px;
      /*text-transform: uppercase;*/
      text-decoration: none;
      color: $darkColor;
      padding: 2rem 3rem;

      background: $nav_bgColor;
      border-bottom: 0.1rem solid transparent;
      &:hover{
        border-bottom: 0.1rem solid $nav_bgColor_active;
      }

    }
  }
}
table{
  width: 100%;
  color: $darkColor;
  background: $whiteColor;
}
thead{
  text-align: start;
}
th{
  padding: 1rem;
  background: $grey_bg;
  font-weight: 700;
  text-align: start;
  color: $darkColor;
}
td{
  a{
    text-decoration: none;
    color: $darkColor;
  }
  vertical-align: top;
  padding: 1rem;
  border-bottom: 0.1rem solid $grey_bg;
  padding-top: 3rem;
}
th[scope='row']{
  vertical-align: middle;
  background: $nav_bgColor;
  color: $darkColor;
  font-weight: 700;
}

.btn{
  text-align: center;
  display: flex;
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.5rem;
}
.btn-danger{
  background: $btnDanger_bg;
  color: $btnDanger_color;
}
.btn-secondary{
  background: $btnSecondary_bg;
  color: $btnSecondary_color;
}
.btn-primary{
  background: $btnPrimary_bg;
  color: $btnPrimary_color;
}